<aside th:fragment="aside" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/assets/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <!-- Nếu đã đăng nhập -->
                <p th:if="${session.khachHangDangNhap != null}"
                   th:text="${session.khachHangDangNhap.email}">Người dùng</p>

                <!-- Nếu chưa đăng nhập -->
                <p th:unless="${session.khachHangDangNhap != null}">Khách</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Trang Quản Trị Trendora</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Sản Phẩm</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/admin/san-pham/hien-thi"><i class="fa fa-circle-o"></i> Danh Sách Sản Phẩm</a></li>
                    <li><a href="/danh-muc/hien-thi"><i class="fa fa-circle-o"></i> Danh Sách Danh Mục</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Nhân Viên</span>
                    <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/nhan-vien/hien-thi"><i class="fa fa-circle-o"></i> Danh Sách Nhân Viên</a></li>
                </ul>
            </li>
            <li>
                <a href="/khach-hang/hien-thi">
                    <i class="fa fa-th"></i> <span>Người Dùng</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Quản Lý Thuộc Tính</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/chat-lieu/hien-thi"><i class="fa fa-circle-o"></i> Chất Liệu</a></li>
                    <li><a href="/co-ao/hien-thi"><i class="fa fa-circle-o"></i> Cổ Áo</a></li>
                    <li><a href="/duong-may/hien-thi"><i class="fa fa-circle-o"></i> Đường May</a></li>
                    <li><a href="/hoa-tiet/hien-thi"><i class="fa fa-circle-o"></i> Họa Tiết</a></li>
                    <li><a href="/khuy-ao/hien-thi"><i class="fa fa-circle-o"></i>  Khuy Áo</a></li>
                    <li><a href="/kich-thuoc/hien-thi"><i class="fa fa-circle-o"></i> Kích Thước</a></li>
                    <li><a href="/kieu-dang/hien-thi"><i class="fa fa-circle-o"></i> Kiểu Dáng</a></li>
                    <li><a href="/mau-sac/hien-thi"><i class="fa fa-circle-o"></i> Màu Sắc</a></li>
                    <li><a href="/phong-cach/hien-thi"><i class="fa fa-circle-o"></i> Phong Cách</a></li>
                    <li><a href="/tay-ao/hien-thi"><i class="fa fa-circle-o"></i> Tay Áo</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Thống Kê & Báo Cáo</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/thong-ke/hien-thi"><i class="fa fa-circle-o"></i> Thống Kê Danh Thu</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Đơn Hàng</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/hoa-don/hien-thi"><i class="fa fa-circle-o"></i> Quản Lý Hóa Đơn</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Quản Lý Phiếu Giảm Giá</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">5</small>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/giam-gia/hien-thi"><i class="fa fa-circle-o"></i> Giảm Giá</a></li>
                </ul>
            </li>


<!--            <li>-->
<!--                <a href="pages/calendar.html">-->
<!--                    <i class="fa fa-calendar"></i> <span>Calendar</span>-->
<!--                    <span class="pull-right-container">-->
<!--              <small class="label pull-right bg-red">3</small>-->
<!--              <small class="label pull-right bg-blue">17</small>-->
<!--            </span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="pages/mailbox/mailbox.html">-->
<!--                    <i class="fa fa-envelope"></i> <span>Mailbox</span>-->
<!--                    <span class="pull-right-container">-->
<!--              <small class="label pull-right bg-yellow">12</small>-->
<!--              <small class="label pull-right bg-green">16</small>-->
<!--              <small class="label pull-right bg-red">5</small>-->
<!--            </span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="treeview">-->
<!--                <a href="#">-->
<!--                    <i class="fa fa-folder"></i> <span>Examples</span>-->
<!--                    <span class="pull-right-container">-->
<!--              <i class="fa fa-angle-left pull-right"></i>-->
<!--            </span>-->
<!--                </a>-->
<!--                <ul class="treeview-menu">-->
<!--                    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>-->
<!--                    <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>-->
<!--                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>-->
<!--                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>-->
<!--                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>-->
<!--                    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>-->
<!--                    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>-->
<!--                    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>-->
<!--                    <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li class="treeview">-->
<!--                <a href="#">-->
<!--                    <i class="fa fa-share"></i> <span>Multilevel</span>-->
<!--                    <span class="pull-right-container">-->
<!--              <i class="fa fa-angle-left pull-right"></i>-->
<!--            </span>-->
<!--                </a>-->
<!--                <ul class="treeview-menu">-->
<!--                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
<!--                    <li class="treeview">-->
<!--                        <a href="#"><i class="fa fa-circle-o"></i> Level One-->
<!--                            <span class="pull-right-container">-->
<!--                  <i class="fa fa-angle-left pull-right"></i>-->
<!--                </span>-->
<!--                        </a>-->
<!--                        <ul class="treeview-menu">-->
<!--                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>-->
<!--                            <li class="treeview">-->
<!--                                <a href="#"><i class="fa fa-circle-o"></i> Level Two-->
<!--                                    <span class="pull-right-container">-->
<!--                      <i class="fa fa-angle-left pull-right"></i>-->
<!--                    </span>-->
<!--                                </a>-->
<!--                                <ul class="treeview-menu">-->
<!--                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
<!--                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>-->
            <li class="header">Bảng Thông Tin</li>
            <li><a href="/tai-khoan/hien-thi"><i class="fa fa-circle-o text-red"></i> <span>Tài Khoản</span></a></li>
            <li><a href="/ban-hang/hien-thi"><i class="fa fa-circle-o text-yellow"></i> <span>Bán Hàng Tại Quầy</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Đánh Giá</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>